<ion-header>

  <ion-navbar>
    <ion-title>{{quotes.category | uppercase}} quotes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of quotes.quotes">
    <ion-card-header>
      <p>#{{ quote.id }}</p>      
    </ion-card-header>
    <ion-card-content>
      <p>{{ quote.text }}</p>
      <p class="author">{{ quote.person }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>        
        <button ion-button clear small (click)="onAddToFavorites(quote)" *ngIf="!quotesService.isInFavoriteQuotes(quote)">Favorite</button>
        <button ion-button clear small (click)="removeFromFavorites(quote)" *ngIf="quotesService.isInFavoriteQuotes(quote)">UnFavorite</button>
      </ion-col>        
    </ion-row>    
  </ion-card>
</ion-content>
